<%@ page language="java" contentType="text/html; charset=UTF-8"pageEncoding="UTF-8"%>
<style>
	.filebox input[type="file"] {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip:rect(0,0,0,0);
	  border: 0;
	}
	.filebox label {
	  display: inline-block;
	  padding: .5em .75em;
	  color: black;
	  font-size: inherit;
	  line-height: normal;
	  vertical-align: middle;
	  background-color: white;
	  cursor: pointer;
	  border: 1px solid #ebebeb;
	  border-bottom-color: #e2e2e2;
	  border-radius: .25em;
	}
	.filebox .upload-name {
	  display: inline-block;
	  padding: .5em .75em;  /* label의 패딩값과 일치 */
	  font-size: inherit;
	  font-family: inherit;
	  line-height: normal;
	  vertical-align: middle;
	  width:90%;
	  background-color: white;
	  border: 1px solid #ebebeb;
	  border-bottom-color: #e2e2e2;
	  border-radius: .25em;
	  -webkit-appearance: none; /* 네이티브 외형 감추기 */
	  -moz-appearance: none;
	  appearance: none;
	}
	/*input file css  끝*/
	.form-control{
		width:50%;
	}
		.control-label{
		float:left;
		margin-left:18%;
	}
	.input{
		width:50% !important;
		margin-left:25%;
	}
	.upload-name{
		clear:both !important;
		left:0 !important;
	}
	.ex_filename{
		clear:both !important;
		margin-right:40% !important;
		margin-left:4%;
	}
	.naver{
		width:100%;
		margin-left:14%;
	}
	.top{
		text-align: center;
	}
	.top img{
		width:150px;
		height:150px;
	}
	.btn_div{
		float:right;
		margin-top:10px;
		margin-right:19%;
	}
</style>