<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dvd">
	
	<insert id="insert" parameterType="dvdDto">
	INSERT INTO DVD(num,national,genre,title,actor,content,production,price,trailer,grade,views,regdate,orgFileName,saveFileName,fileSize)
	VALUES(
	Dvd_seq.NEXTVAL,
	#{national},
	#{genre},
	#{title},
	#{actor},
	#{content},
	#{production},
	#{price},
	#{trailer},
	0,
	0,
	SYSDATE,
	#{orgFileName},
	#{saveFileName},
	#{fileSize}
	)
	</insert>
	
	<select id="getList" parameterType="dvdDto" resultType="dvdDto">
		SELECT *
		FROM(
			SELECT result_list.*,ROWNUM rnum
			FROM (
				SELECT *
				FROM dvd
				<where>
					<if test="title != null">
						OR title LIKE '%'||#{title}||'%'
					</if>
					<if test="genre !=null">
						AND genre = #{genre}
					</if>
					<if test="national !=null">
						AND national = #{national}
					</if>
				</where>
				ORDER BY 
				<choose >
				 <when test="grade ==1">
				 	grade DESC
				 </when>
				 <when test="views ==1">
				 	views DESC
				 </when>
				 <otherwise>
				 	production DESC
				 </otherwise>
				</choose>
			)result_list
		)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="int" resultType="dvdDto">
		SELECT *
		FROM dvd
		where num = #{num}
	</select>
	
	<update id="update" parameterType="dvdDto">
		UPDATE dvd
		SET
		genre = #{genre},
		title = #{title},
		actor = #{actor},
		content = #{content},
		production = #{production},
		price = #{price},
		trailer = #{trailer},
		orgFileName = #{orgFileName},
		saveFileName = #{saveFileName},
		fileSize = #{fileSize}
		WHERE num = #{num}			
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE
		FROM dvd
		WHERE num = #{num}
	</delete>
	
	<select id="getCount" parameterType="dvdDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)      <!--DB가 null 일 경우 0 출력(NVL)-->
		FROM dvd
		<where>
					<if test="title != null">
						OR title LIKE '%'||#{title}||'%'
					</if>
					<if test="genre !=null">
						AND genre = #{genre}
					</if>
					<if test="national !=null">
						AND national = #{national}
					</if>
				</where>
	</select>
	
	<update id="viewUp" parameterType="int">
		UPDATE dvd
		SET views = views+1
		WHERE num = #{num}
	</update>
	
	<!-- main New -->
	<select id="mainNew" resultType="dvdDto">
		SELECT *
		FROM(
			SELECT selected.*,ROWNUM rnum
			FROM (SELECT *
		      	  FROM dvd
		      	  ORDER BY production DESC       
		     )selected
		)
		WHERE rnum BETWEEN 1 AND 5		
	</select>
	
	<select id="mainFavor" resultType="dvdDto">
		SELECT *
		FROM(
			SELECT selected.*,ROWNUM rnum
			FROM (SELECT *
		      	  FROM dvd
		      	  ORDER BY grade DESC       
		     )selected
		)
		WHERE rnum BETWEEN 1 AND 5		
	</select>
</mapper>