<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rating">
	<insert id="insert" parameterType="ratingDto">
		INSERT INTO rating (num,writer,title,score,content,dvd_num,recommend,regdate)
		VALUES(
		dvd_rating_seq.NEXTVAL,
		#{writer},
		#{title},
		#{score},
		#{content},
		#{dvd_num},
		0,
		SYSDATE
		)
	</insert>
	<select id="getList" parameterType="ratingDto" resultType="ratingDto">
		SELECT *
		FROM(
			SELECT rating.*,ROWNUM rnum
			FROM(
				SELECT num,writer,title,score,content,dvd_num,recommend,TO_CHAR(regdate,'YY-MM-DD') regdate
				FROM rating
				ORDER BY num DESC
				)rating
				WHERE dvd_num = #{dvd_num}
				
		    )
		    
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)      <!--DB가 null 일 경우 0 출력(NVL)-->
		FROM rating
		WHERE dvd_num = #{dvd_num}
	</select>
	
	<select id="idCheck" parameterType="recommendDto" resultType="String">
		SELECT userId
		FROM rating_recommend
		WHERE userId = #{userId}
		AND rating_num = #{rating_num}
	</select>
	
	<insert id="recommendInsert" parameterType="recommendDto">
		INSERT INTO rating_recommend
		VALUES(
			#{rating_num},
			#{userId}
		)
	</insert>
	
	<select id="recommendCount" parameterType="recommendDto" resultType="int">
		select NVL(MAX(ROWNUM),0)
		FROM rating_recommend
		WHERE rating_num = #{rating_num}
	</select>
	
	<update id="recommendUpdate" parameterType="recommendDto">
		UPDATE rating
		SET
			recommend = #{count}
		WHERE num = #{rating_num}
	</update>
	
	<select id="average" parameterType="recommendDto" resultType="float">
		SELECT AVG(score) 
		FROM rating
		WHERE dvd_num = #{dvd_num}
	</select>
	
	<update id="averageUpdate" parameterType="recommendDto">
		UPDATE DVD
		SET
			grade = #{score}
		WHERE num = #{dvd_num}
	</update>
	<update id="update" parameterType="ratingDto">
		UPDATE rating
		SET
			title = #{title},
			score = #{score},
			content = #{content}
		WHERE num = #{num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE rating
		where num = #{num}
	</delete>
</mapper>