	.payCart-cart{
		border:1px solid gray;
		height: 305px;
		overflow-y: scroll;
	}
	.control-label-cart{
		padding-right: 20px;
	}
	.form-control-cart{
		width: 70%;
		display: inline;
	}
	.cart-phone, .cart-shipping-phone, .cart-email, .cart-pwd, .cart-addrNum{
		margin-left: 32px;
	}
	.cart-name, .cart-shipping-name{
		margin-left: 15px;
	}
	.cart-shippingBtn{
		position: absolute;
		margin-right: 45px;
		top: 0;
		right: 0;
	}
	.cart-shippingAddr{
		position: relative;
	}
	.cart-addrNum{
		width:30%;
	}
	.cart-addr, .cart-addrDetail{
		margin-left: 112px;
	}
	.cart-pwd2{
		margin-left:5px;
	}
	.cart-payment{
		border:2px double blue;
		height: 250px;
	}
	.ul-cart{
		padding-left: 20px;
		margin-bottom:0px;
	}
	.li-cart{
		margin: 10px;
		margin-bottom:0px;
		margin-top:0px;
	}
	.cart-pay_font{
		font-size: 20px;
	}
	.cart-pay-result{
		font-size: 20px;
		color: red;
	}
	.cart-paymentBtn{
		margin-left: 5%;
		width: 90%;
	}
	.cart-content_box{
		padding-top:60px;
	}
	.cart-pay_final{
		margin-top:-5px;
	}
	.cart-table-info{
		text-align: center;
		margin-bottom:-10px;
	}
	.cart-dvd_price{
		padding-top:4px;
		font-size:20px;
		float:right;
	}
	.cart-amount{
		width:24%;
	}
	.cart-col_right{
		padding-right:0px;
	}
	.cart-list-box{
		border-bottom: 1px solid gray;
		width:100%;
		height: 175px;
		padding-top:15px;
	}
	.cart-priceBox{
		float: right;
	}
	.cart_pay_img{
		height: 140px;
	}
	.cart-table-col{
		padding:0px;
	}
	.cart-table-scroll{
		overflow-y:scroll;
		height:100px;
	}
	.table-margin{
		margin-bottom: 0px;
	}
	#postCodeBtn{
		float: right;
		margin-right:44px;
	}
	.res_cart_pay_table{
		display:none;
	}
	@media(max-width:1100px){
		.cart-shippingBtn{
			margin-right:130px;
		}
		#postCodeBtn{
			margin-right:86px;
		}
	}
	
	@media(min-width:900px){
		.payCart-cart{
			width:386px;
		}
		.cart-payment{
			width:386px;
		}
	}
	@media(max-width:480px){
		.cart-table-col{
			font-size:12px;
		}
		.cart-dvd_price{
			padding-top:8px;
			font-size:15px;
		}
		.cart-amount{
			width:25% !important;
			padding: 6px 2px !important;
		}
		.cart-table-scroll{
			font-size:12px;
		}
		.form-control-cart{
			width: 66%;
		}
		.res_h3{
			margin-top: 0px;
			text-align: center;
		}
		.res_h3_second{
			margin-bottom: 30px;
		}
		.cart-shippingBtn{
			margin-right:0px;
			width:100%;
			top:32px;
		}
		.form-group label, .form-group input{
			font-size: 12px;
		}
		.control-label-cart{
			padding-right: 0px;
		}
		.cart-name, .cart-shipping-name{
			margin-left: 17px;
		}
		.cart-pwd2{
			margin-left: 8px;
		}
		.cart-addrNum, .cart-addr, .cart-addrDetail{
			margin-left: 0px;
			margin-top:7px;
			width:100%;
		}
		.addrRelative{
			position: relative;
		}
		#postCodeBtn{
			position: absolute;
			right:0%;
			top:-6px;
			margin-right:0px;
		}
		.desc_cart_pay_table{
			display:none !important;
		}
		.res_cart_pay_table{
			display:block;
		}
	}
	
	
	
	
	
	
	
	
	
	

